@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto", sans-serif;
}
.abuuu{
    margin: 0 auto;
    width: 1440px;
}
.header{
    background-color: #F3D7B7;
    width: 100%;
    height: 800px;
    align-items: center;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 50px;
}
.nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    text-align: center;
}
.nav ul li{
    font-size: 12px;
    font-weight: 700;
    color: #333333;
}
.header__content{
    display: flex;
    justify-content: space-between;
    padding: 130px 0 0 50px;
}
.header__content__text h1{
    color: #000000;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
}
.header__content__text p{
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-top: 47px;
}
.btn{
    width: 193px;
    height: 51px;
    /* padding-top: 47px; */
    background-color: #0A775F;
    color: white;
    margin-top: 47px;
    font-size: 16px;
    font-weight: 500;
    border-radius: 100px;
    border: none;
}
.header__content__img{
    width: 710px;
    height: 694px;
    position: relative;
}
.absolute{
    position: absolute;
    top: -106px;
    left: -88px;
}
.section__1{
    width: 1444px;
    height: 1798px;
}
.section__1 h3{
    text-align: center;
    padding-top: 112px;
    font-size: 50px;
    font-weight: 700;
    color: black;
    padding-bottom: 42px;
}
.section__content{
    display: flex;
    justify-content: space-between;
    padding: 0 159px;
}
.section__content__text h2{
    font-size: 48px;
    font-weight: 500;
    padding-top: 121px;
}
.section__content__text p{
    font-size: 22px;
    font-weight: 400;
    line-height: 34px;
    padding-top: 10px;
}
.coffee{
    width: 451.25px;
    height: 375;
}
.footer{
    width: 100%;
    height: 160px;
    background-color: #F3D7B7;
}
.footer__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 62px 42px;
}
.footer__content ul{
    display: flex;
    gap: 40px;
}
.footer__content ul li{
    font-size: 16px;
    font-weight: 700;
    color: #333333;
}